<a href="https://colab.research.google.com/github/Titas23/IS_Practice_repo/blob/Algorithm/HomeWork_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving Hotel Reservations.csv to Hotel Reservations.csv

In [ ]:

import pandas as pd

In [ ]:
df = pd.read_csv('Hotel Reservations.csv')
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [ ]:
df.columns

Index(['Booking_ID', 'no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'arrival_year', 'arrival_month',
       'arrival_date', 'market_segment_type', 'repeated_guest',
       'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled',
       'avg_price_per_room', 'no_of_special_requests', 'booking_status'],
      dtype='object')

In [ ]:
df.describe()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,2017.820427,7.423653,15.596995,0.025637,0.023349,0.153411,103.423539,0.619655
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,0.383836,3.069894,8.740447,0.158053,0.368331,1.754171,35.089424,0.786236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,2018.000000,5.000000,8.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,2018.000000,8.000000,16.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,2018.000000,10.000000,23.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,2018.000000,12.000000,31.000000,1.000000,13.000000,58.000000,540.000000,5.000000

In [ ]:
df.isnull()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36271,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36272,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36273,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36274,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:

df.fillna(value= 0, inplace= True)
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [ ]:

from sklearn.preprocessing import LabelEncoder

# changing any string value into numerical value

le = LabelEncoder()

label = le.fit_transform(df['booking_status'])
label_1 = le.fit_transform(df['Booking_ID'])
label_2 = le.fit_transform(df['type_of_meal_plan'])
label_3 = le.fit_transform(df['room_type_reserved'])
label_4 = le.fit_transform(df['market_segment_type'])

df.drop('booking_status', axis=1, inplace=True)
df.drop('Booking_ID', axis=1, inplace=True)
df.drop('type_of_meal_plan', axis=1, inplace=True)
df.drop('room_type_reserved', axis=1, inplace = True)
df.drop('market_segment_type', axis=1, inplace = True)

df['booking_status']= label
df['Booking_ID']= label_1
df['type_of_meal_plan']= label_2
df['room_type_reserved']= label_3
df['market_segment_type']= label_4


df.head(50)

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,Booking_ID,type_of_meal_plan,room_type_reserved,market_segment_type
0,2,0,1,2,0,224,2017,10,2,0,0,0,65.00,0,1,0,0,0,3
1,2,0,2,3,0,5,2018,11,6,0,0,0,106.68,1,1,1,3,0,4
2,1,0,2,1,0,1,2018,2,28,0,0,0,60.00,0,0,2,0,0,4
3,2,0,0,2,0,211,2018,5,20,0,0,0,100.00,0,0,3,0,0,4
4,2,0,1,1,0,48,2018,4,11,0,0,0,94.50,0,0,4,3,0,4
5,2,0,0,2,0,346,2018,9,13,0,0,0,115.00,1,0,5,1,0,4
6,2,0,1,3,0,34,2017,10,15,0,0,0,107.55,1,1,6,0,0,4
7,2,0,1,3,0,83,2018,12,26,0,0,0,105.61,1,1,7,0,3,4
8,3,0,0,4,0,121,2018,7,6,0,0,0,96.90,1,1,8,0,0,3
9,2,0,0,5,0,44,2018,10,18,0,0,0,133.44,3,1,9,0,3,4
10,1,0,1,0,0,0,2018,9,11,0,0,0,85.03,0,1,10,3,0,4
11,1,0,2,1,0,35,2018,4,30,0,0,0,140.40,1,1,11,0,3,4
12,2,0,2,1,0,30,2018,11,26,0,0,0,88.00,0,0,12,3,0,4
13,1,0,2,0,0,95,2018,11,20,0,0,0,90.00,2,0,13,0,0,4
14,2,0,0,2,0,47,2017,10,20,0,0,0,94.50,2,1,14,0,0,4
15,2,0,0,2,0,256,2018,6,15,0,0,0,115.00,1,0,15,1,0,4
16,1,0,1,0,0,0,2017,10,5,0,0,0,96.00,0,1,16,0,0,3
17,2,0,1,3,0,1,2017,8,10,0,0,0,96.00,1,1,17,3,0,4
18,2,0,2,2,0,99,2017,10,30,0,0,0,65.00,0,0,18,0,0,4
19,2,0,1,0,0,12,2017,10,4,0,0,0,72.00,0,1,19,0,0,3
20,2,0,2,2,0,99,2017,10,30,0,0,0,65.00,0,0,20,0,0,4
21,1,0,0,1,0,122,2018,11,25,0,0,0,67.00,0,1,21,0,0,2
22,2,0,2,4,0,2,2018,3,20,0,0,0,85.00,0,1,22,0,0,3
23,2,0,0,3,0,37,2018,10,13,0,0,0,105.00,0,1,23,0,0,3
24,2,0,2,1,0,130,2018,5,22,0,0,0,94.50,1,1,24,3,0,4
25,2,0,0,2,0,99,2018,4,28,0,0,0,114.30,1,1,25,0,0,4
26,2,0,1,1,0,60,2017,9,21,0,0,0,65.00,0,1,26,0,0,3
27,1,0,0,2,0,2,2018,5,19,0,0,0,110.00,0,0,27,0,3,0
28,1,0,1,2,0,37,2017,11,6,0,0,0,37.33,0,0,28,0,0,4
29,2,0,0,2,0,56,2017,9,17,0,0,0,82.00,0,1,29,1,0,3
30,2,0,1,1,0,3,2017,9,19,0,0,0,177.50,1,1,30,0,3,4
31,2,0,2,2,0,107,2018,11,13,0,0,0,87.50,1,1,31,0,0,4
32,0,2,0,3,0,56,2018,12,7,0,0,0,82.44,1,1,32,0,1,4
33,2,0,0,1,0,2,2018,1,9,0,0,0,69.50,1,1,33,3,0,4
34,2,0,0,2,0,72,2018,10,7,0,0,0,85.50,0,1,34,0,0,3
35,2,0,0,1,1,23,2018,4,27,0,0,0,115.00,1,1,35,3,0,4
36,1,0,2,1,0,34,2018,6,19,0,0,0,81.00,0,0,36,0,0,4
37,2,0,0,1,0,289,2017,10,17,0,0,0,67.00,0,1,37,0,0,3
38,2,0,2,3,0,247,2018,11,19,0,0,0,63.75,0,0,38,3,0,4
39,2,0,2,1,0,186,2018,7,30,0,0,0,121.80,1,0,39,0,3,4
40,2,0,0,4,0,64,2018,11,1,0,0,0,93.60,2,1,40,0,0,4
41,2,0,0,2,0,35,2018,6,21,0,0,0,102.00,1,1,41,0,0,4
42,3,0,2,1,0,96,2018,4,10,0,0,0,121.80,1,1,42,0,0,4
43,2,0,1,1,0,41,2018,6,27,0,0,0,98.10,1,0,43,3,0,4
44,2,0,0,4,0,55,2017,11,18,0,0,0,60.00,1,1,44,0,3,3
45,2,0,0,3,0,146,2017,12,29,0,0,0,75.00,0,1,45,0,0,3
46,1,0,0,2,0,32,2017,11,20,0,0,0,73.00,0,1,46,0,0,3
47,2,0,0,1,0,55,2018,4,6,0,0,0,104.00,0,1,47,1,0,3
48,2,0,0,4,0,57,2018,11,1,0,0,0,79.20,1,1,48,3,0,4
49,1,0,1,3,0,7,2018,12,29,0,0,0,125.80,2,1,49,0,3,4

In [ ]:
from sklearn import preprocessing

df_scaled = preprocessing.scale(df)

df_scaled = pd.DataFrame(df_scaled,columns = df.columns)

In [ ]:
df_scaled['booking_status'] = df['booking_status']
# removing booking status from the columns
df = df_scaled

df

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,Booking_ID,type_of_meal_plan,room_type_reserved,market_segment_type
0,0.298893,-0.26147,0.217401,-0.144803,-0.178819,1.614896,-2.137469,0.839242,-1.555662,-0.16221,-0.063393,-0.087456,-1.095033,-0.788140,1,-1.732003,-0.491972,-0.506411,-0.810601
1,0.298893,-0.26147,1.365993,0.563972,-0.178819,-0.933701,0.467843,1.164990,-1.098013,-0.16221,-0.063393,-0.087456,0.092806,0.483760,1,-1.731908,2.370304,-0.506411,0.656692
2,-1.628975,-0.26147,1.365993,-0.853578,-0.178819,-0.980250,0.467843,-1.766747,1.419055,-0.16221,-0.063393,-0.087456,-1.237528,-0.788140,0,-1.731812,-0.491972,-0.506411,0.656692
3,0.298893,-0.26147,-0.931190,-0.144803,-0.178819,1.463610,0.467843,-0.789501,0.503757,-0.16221,-0.063393,-0.087456,-0.097567,-0.788140,0,-1.731717,-0.491972,-0.506411,0.656692
4,0.298893,-0.26147,0.217401,-0.853578,-0.178819,-0.433291,0.467843,-1.115250,-0.525952,-0.16221,-0.063393,-0.087456,-0.254312,-0.788140,0,-1.731621,2.370304,-0.506411,0.656692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,2.226761,-0.26147,1.365993,2.690296,-0.178819,-0.002706,0.467843,0.187744,-1.441250,-0.16221,-0.063393,-0.087456,1.834665,0.483760,1,1.731621,-0.491972,1.636704,0.656692
36271,0.298893,-0.26147,0.217401,0.563972,-0.178819,1.661446,0.467843,0.839242,0.160521,-0.16221,-0.063393,-0.087456,-0.355483,1.755661,0,1.731717,-0.491972,-0.506411,0.656692
36272,0.298893,-0.26147,1.365993,2.690296,-0.178819,0.730452,0.467843,-0.138004,-1.670074,-0.16221,-0.063393,-0.087456,-0.143451,1.755661,1,1.731812,-0.491972,-0.506411,0.656692
36273,0.298893,-0.26147,-0.931190,0.563972,-0.178819,-0.258730,0.467843,-1.115250,0.618170,-0.16221,-0.063393,-0.087456,-0.254312,-0.788140,0,1.731908,2.370304,-0.506411,0.656692
36274,0.298893,-0.26147,0.217401,-0.144803,-0.178819,1.417060,0.467843,1.490739,1.647879,-0.16221,-0.063393,-0.087456,1.659966,-0.788140,1,1.732003,-0.491972,-0.506411,-0.810601

In [ ]:
old_cols = df.columns.values
# moving the first four columns around
new_cols =['no_of_adults','no_of_weekend_nights','no_of_children','no_of_week_nights']
df = df.reindex(columns = new_cols)

df

       no_of_adults  no_of_weekend_nights  no_of_children  no_of_week_nights
0          0.298893              0.217401        -0.26147          -0.144803
1          0.298893              1.365993        -0.26147           0.563972
2         -1.628975              1.365993        -0.26147          -0.853578
3          0.298893             -0.931190        -0.26147          -0.144803
4          0.298893              0.217401        -0.26147          -0.853578
...             ...                   ...             ...                ...
36270      2.226761              1.365993        -0.26147           2.690296
36271      0.298893              0.217401        -0.26147           0.563972
36272      0.298893              1.365993        -0.26147           2.690296
36273      0.298893             -0.931190        -0.26147           0.563972
36274      0.298893              0.217401        -0.26147          -0.144803

[36275 rows x 4 columns]